clientTestGenerated/Connected Services/ServiceReference1/Facade.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9018/MessageService/Facade?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="appVersion" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="data" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operationVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusOp" type="tns:StatusOp" />
      <xs:element minOccurs="0" name="tokenApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tokenUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:simpleType name="StatusOp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Waiting" />
      <xs:enumeration value="Working" />
      <xs:enumeration value="Finished" />
      <xs:enumeration value="Sent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusOp" nillable="true" type="tns:StatusOp" />
</xs:schema>