clientTestGenerated/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Contract" />
  <xs:element name="Servicing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contract" minOccurs="0" name="msg" nillable="true" type="q1:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contract" minOccurs="0" name="ServicingResult" nillable="true" type="q2:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>